{% load static %}

<html>
  <head>
    <title>La Merveille Des Femmes Database</title>
	 <link rel="stylesheet" type="text/css" href="{% static 'lmdf/style.css' %}" />
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  </head>
<body>
	
<div class="page-header">
    <h1>La Merveille des Femmes</h1>
	<img src="{% static 'lmdf/images/logo.png' %}" alt="logo"/>
</div>
	
<div class="topnav">
  <a href="{% url 'indexfr' %}">Home</a>
  <a href="{% url 'wikifr' %}">Diagnostic</a>
  <a class="active" href="{% url 'symptomsfr' %}">Symptômes</a>
  <a href="{% url 'patientsfr' %}">Les Patients</a>
  <a class="language" href="{% url 'symptoms' %}">English</a>
  <a class="languagesel" href="">Français</a>
</div>
	
<div class="content container">
<table id="customers">
	<tr><th>Symptômes</th></tr>
	<tr>
	{% for symptom in symptoms %}
	<td>{{symptom.symptom_fr}}</td>
	</tr>
	<tr>
  {% endfor %}
	</tr>
</table>
	
<table id="customers">
	<tr><th>Patients avec Perte de sang</th><th>Link</th></tr>
	<tr>
	{% for case in cases1 %}
	<td>Patient nombre: {{case.id}}</td>
		<td><a class="language" href="{% url 'patient-detail-fr' case.id %}">Aller au patient</a></td>
	</tr>
	<tr>
  {% endfor %}
	</tr>
</table>
	
<table id="customers">
	<tr><th>Patients aves Saignement vaginal</th><th>Link</th></tr>
	<tr>
	{% for case in cases2 %}
	<td>Patient nombre: {{case.id}}</td>
		<td><a class="language" href="{% url 'patient-detail-fr' case.id %}">Aller au patient</a></td></tr>
	<tr>
  {% endfor %}
	</tr>
</table>
	
<table id="customers">
	<tr><th>Patients avec Hypertension</th><th>Link</th></tr>
	<tr>
	{% for case in cases3 %}
	<td>Patient nombre: {{case.id}}</td>
	<td><a class="language" href="{% url 'patient-detail-fr' case.id %}">Aller au patient</a></td>
	</tr>
	<tr>
  {% endfor %}
	</tr>
</table>
	
<table id="customers">
	<tr><th>Patients avec Perte de sang et Hypertension</th><th>Link</th></tr>
	<tr>
	{% for case in cases4 %}
	<td>Patient nombre: {{case.id}}</td>
	<td><a class="language" href="{% url 'patient-detail-fr' case.id %}">Aller au patient</a></td>
	</tr>
	<tr>
  {% endfor %}
	</tr>
</table>

<table id="customers">
	<tr><th>Patients avec Saignement vaginal et Hypertension</th><th>Link</th></tr>
	<tr>
	{% for case in cases5 %}
	<td>Patient nombre: {{case.id}}</td>
	<td><a class="language" href="{% url 'patient-detail-fr' case.id %}">Aller au patient</a></td>
	</tr>
	<tr>
  {% endfor %}
	</tr>
</table>

<table id="customers">
	<tr><th>Patients avec Perte de Sang et Saignement vaginal</th><th>Link</th></tr>
	<tr>
	{% for case in cases6 %}
	<td>Patient nombre: {{case.id}}</td>
	<td><a class="language" href="{% url 'patient-detail-fr' case.id %}">Aller au patient</a></td>
	</tr>
	<tr>
  {% endfor %}
	</tr>
</table>
	
<table id="customers">
	<tr><th>Patients avec Perte de Sang, Saignement vaginal et Hypertension</th><th>Link</th></tr>
	<tr>
	{% for case in cases7 %}
	<td>Patient nombre: {{case.id}}</td>
	<td><a class="language" href="{% url 'patient-detail-fr' case.id %}">Aller au patient</a></td>
	</tr>
	<tr>
  {% endfor %}
	</tr>
</table>
</div>
    </body>
</html>

