{% load static %}

<html>
  <head>
    <title>La Merveille Des Femmes Database</title>
	 <link rel="stylesheet" type="text/css" href="{% static 'lmdf/style.css' %}" />
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  </head>
<body>
	
<div class="page-header">
    <h1>La Merveille des Femmes</h1>
	<img src="{% static 'lmdf/images/logo.png' %}" alt="logo"/>
</div>
	
<div class="topnav">
  <a href="{% url 'index' %}">Home</a>
  <a class="active" href="{% url 'wiki' %}">Diagnoses</a>
  <a href="{% url 'symptoms' %}">Symptoms</a>
  <a href="{% url 'patients' %}">Patients</a>
  <a class="languagesel" href="">English</a>
  <a class="language" href="{% url 'wikifr' %}">Français</a>
</div>
	
	
<div class="content container">
  <div class="row">
    <div class="col-sm-5 col-md-6 col-xs-12" style="margin-right: 20px">
        <h1>Pre-eclampsia</h1>
	  <p>Preeclampsia is a pregnancy complication that is characterized by the onset of high blood pressure and often a significant amount of protein in the urine. It most commonly develops during the last trimester, but it can happen in the second half of pregnancy, during labor, or even up to six weeks after delivery as well. The only cure is delivery (with an increased risk of seizures, placental abruption, stroke and possibly severe bleeding until the blood pressure decreases), sometimes with induced labor or cesarean section. When a patient is diagnosed with preeclampsia, she needs to be closely monitored until it’s possible to deliver the baby. </p>
    </div>
	<div class="col-sm-4 col-md-4 col-xs-12">  
    
		
	  <h3>Diagnosis</h3>
		<p><li>High blood pressure/hypertension: systolic reading of 140 or greater or a diastolic reading of 90 or higher.</li>
			<li>Protein in urine/proteinuria: a result of 300 milligrams (mg) of protein in a 24-hour urine sample is a sign of preeclampsia.
			</li></p>
			
		<h3>Symptoms</h3>
		<li>High Blood Pressure (Hypertension)</li>
		<li>Proteinuria</li> 
		<li>Swelling (Edema) in face, hands or excessive in feet/ankles</li>
		<li>Headache</li>
		<li>Nausea or Vomiting</li>
		<li>Abdominal (stomach area) and/or Shoulder Pain</li>
		<li>Lower back pain</li>
		<li>Sudden Weight Gain (more than 4 pounds in a week)</li>
		<li>Changes in Vision (double vision, blurriness, light sensitivity, temporary vision loss)</li>
		<li>Hyperreflexia</li>
		<li>Shortness of breath, anxiety</li>
    </div>
  </div>
	
<div class="row">
  <div class="row">
    <div class="col-sm-5 col-md-6 col-xs-12" style="margin-right: 20px; margin-top: 40px">
        <h1>Malaria</h1>
	  <p>Complications of malaria in pregnancy include maternal anaemia, low birth weight, prematurity and increased perinatal mortality. Malarial infection during pregnancy is characterized by the marked accumulation of parasites in the intervillous spaces of the placenta, where infected red blood cells adhere to the endothelial lining.

		  Three interventions for prevention and control of malaria in pregnancy in endemic areas:
		  <li>Intermittent preventive treatment;</li>
		  <li>Insecticide-treated nets;</li>
		  <li>Effective case management of malaria illness and anaemia.</li>
</p>
    </div>
	<div class = "col-sm-4 col-md-4 col-xs-12" style = "margin-top: 40px">  
	  	<h3>Diagnosis</h3>
		<li>Only a blood test can help determine the exact infection.</li>

	
		<h3>Symptoms</h3>		
		<li>High fever and sweating or feeling chills</li>
		<li>Nausea</li>
		<li>Cough</li>
		<li>Headache</li>
		<li>Vomiting</li>
		<li>Muscle pain</li>
		<li>Diarrhea</li>
		<li>Jaundice</li>
		<li>Respiratory distress</li>
		<li>Splenomegaly (enlargement of the spleen)</li>
		<li>Pallor (pale appearance)</li>
		<li>General malaise</li>
		
		<p>It is important to recognize and treat pregnancy malaria at the earliest because it can bring along other health complications both for the mother and the baby.</p>
    </div>
  </div>
</div>
	</div>
</body>
</html>

